.about {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FF7F6B;
  min-height: 50vh;
}

.about h1{
  font-size: 3em;
  color: white;
  font-family: inherit;
  margin-bottom: 2%;
}
.about p{
  font-size: 1.25em;
  color: white;
  font-family: inherit;
}
.about img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.about-inner{
  padding: 2%;
  margin: 0 auto;
  width: 100vw;
}
