footer{
	padding-top: 2%;
	background-color: #5190FF;
	height: 125px;
  	justify-content: center;
  	text-align: center;
  	padding-bottom: 2%;
}
footer > p{
	font-size: 1.2em;
	font-family: inherit;
	color: white;
}
footer a{
	font-size: 1em;
	font-family: inherit;
	color: white;
}

